/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding-bottom: 60px;
}

/* Header */
header {
    text-align: center;
}

header img {
    max-width: 200px;
    height: auto;
    margin: 20px auto;
}

/* Main Section */
main {
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-item button {
    background-color: black;
    color: #cbb643;
    border: 2px solid #cbb643;
    border-radius: 8px;
    font-size: 18px;
    padding: 12px;
    width: 30%; /* Consistent width */
    min-width: 100px; /* Set a minimum width */
    max-width: 300px; /* Set a maximum width */
    flex-grow: 0; /* Prevent stretching */
    flex-shrink: 0; /* Prevent shrinking */
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap; /* Prevent button text from wrapping */
}

button:hover {
    background-color: #cbb643;
    color: black;
}

/* Registration */
.register-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.registration-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-button {
    text-align: center;
    background-color: black;
    color: #cbb643;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #cbb643;
}

.register-button:hover {
    background-color: #cbb643;
    color: black;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cbb643;
    padding: 10px 0;
    text-align: center;
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.bottom-nav ul li {
    margin: 0;
}

.bottom-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}


